# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/


#######################
# Our own ignores below

# Files with credentials and secrets
settings/production.py
scripts/cron/healthchecks.env
# Temporary latex files
letters.aux
letters.out
letters.tex
# Test database
svpb.sq
# Directories with content created/managed by app
/backup/
/logs/
/www/
## Temporary directory for one-off scripts and files
/tmp/
# Output of command create_statistics_csv
leistungen.csv
