{% extends 'base.html' %}

{% block branding %}

{% endblock %}

{% block content %}  
<div class="row text-center mb-8">
    <h3> Passwort zurücksetzen </h3>
    {% if validlink %}
        <div class="alert alert-light">
            Bitte gib zweimal das neue Passwort ein. 
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Neues Passwort setzen" class="btn btn-primary w-40 py-2">
        </form>
    {% else %}
        <div class="alert alert-danger">
            Der Link zum Zurücksetzen des Passworts war ungültig, möglicherweise weil er bereits verwendet wurde. Bitte setze dein Passwort erneut zurück. 
        </div>
        <p class="m-auto"> <a href="{% url 'login' %}">Hier klicken</a> um zur Anmeldeseite zu kommen. </p>
    {% endif %}
</div>
{% endblock %}
