{% extends 'base.html' %}

{% block branding %}

{% endblock %}

{% block content %}
<div class="row text-center mb-8">
    <h3> Passwort zurücksetzen </h3>
    <div class="alert alert-light">
        Gib unten deine E-Mail-Adresse ein, um einen Link zum Zurücksetzen deines Passworts zu erhalten.
    </div>
    <form method="POST" class="form-floating mb-3">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Link zusenden!" class="btn btn-primary w-40 py-2">
    </form>
</div>
{% endblock %}