{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n static %}

{% block branding %}{% if form.errors %}{% translate "Error:" %} {% endif %}Passwort ändern{% endblock %}

{% block content %}
<div>

<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <div class="alert alert-warning">
    {% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
    </div>
{% endif %}

<p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>

{% crispy form %}

</div>
</form></div>

{% endblock %}
