# UUIDs of healthchecks.io ping URLs
HC_UUID_ASSIGNMENTS=
HC_UUID_BACKUP_DATABASE=
HC_UUID_CLEANUP_MAIL=
HC_UUID_CLEAR_SESSIONS=
HC_UUID_MELDUNG_CONSISTENCY=
HC_UUID_PENDING_LEISTUNGEN=
HC_UUID_SEND_QUEUED_MAIL=
HC_UUID_UPCOMING_JOBS_2=
HC_UUID_UPCOMING_JOBS_5=
