{% extends "base_boote.html" %}
{% load static %}

{% block branding %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% if msg %}
<div class="alert alert-{{msgclass}}">
	{{ msg }}
</div>
{% endif %}

<p>
<div class="container">
	<div class="row text-center mb-4">
		<div class="col-md-12">
			<img class="img-fluid" src="{% static 'boote/banner.png' %}">
		</div>
	</div>
</div>
<div class="row text-center">
	<p>
		Bist du schon mal am Lippesee angekommen und hast erst dann festgestellt, dass dein Lieblings-Vereinsboot schon
		<b>besetzt ist</b> (z.B. wegen Ausbildung)?
	</p>
	<p>
		Oder hattest du vielleicht Schwierigkeiten um nachzuvollziehen, ob die von dir gemeldete 'lose Wante' vom
		Bootspaten schon <b>repariert worden ist</b>?
	</p>
	<p>
		Diese App soll es uns ermöglichen die Vereinsboote effizienter zu nutzen und noch mehr Spaß am Segeln zu haben!
	</p>
</div>

<hr>

<div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
	<div class="col d-flex align-items-start">
		<div
			class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			<i class="bi fa-solid fa-magnifying-glass fa-fw" width="1em" height="1em"></i>
		</div>
		<div>
			<a href="boots_liste/">Übersicht</a>
			<p>Boote/Kran listen oder Probleme melden.</p>
		</div>
	</div>
	<div class="col d-flex align-items-start">
		<div
			class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			<i class="bi fa-solid fa-eye fa-lg" width="1em" height="1em"></i>
		</div>
		<div>
			<a href="booking/today/">Verfügbarkeit</a>
			<p>Die heutige Verfügbarkeit anzeigen.</p>
		</div>
	</div>
	<div class="col d-flex align-items-start">
		<div
			class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			<i class="bi fa-solid fa-calendar-check fa-lg" width="1em" height="1em"></i>
		</div>
		<div>
			<a href="booking/overview/">Reservieren</a>
			<p>Vereinsboote oder Kran reservieren.</p>
		</div>
	</div>
	<div class="col d-flex align-items-start">
		<div
			class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			<i class="bi fa-solid fa-rectangle-xmark fa-lg" width="1em" height="1em"></i>
		</div>
		<div>
			<a href="booking/my_bookings/">Stornieren</a>
			<p>Meine Reservierungen anzeigen und/oder stornieren.</p>
		</div>
	</div>
</div>
{% else %}

<a href="login/?next=/home/"> Bitte loggen Sie sich ein! </a>
{% endif %}

{% endblock %}