{% extends "base.html" %}
{% load static %}

{% block title %}
Mitgliederverwaltung | mein.svpb.de
{% endblock %}

{% block apphome %}
    <a class="nav-link" href="/accounts/">
        <i class="fa-solid fa-home fa-fw"></i>
        Home
    </a>
{% endblock %}


{% block appnav %}
<!-- MITGLIEDER -->
{% for g in  user.groups.all %}
{% if g.name == "Vorstand" %}
<li class="dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-users fa-fw"></i>
        Mitglieder
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/accounts/add/"> Neu</a></li>
        <li><a class="dropdown-item" href="/accounts/list/"> Liste</a></li>
        <li><a class="dropdown-item" href="/accounts/filteredList/"> Liste filtern</a></li>
        <li><a class="dropdown-item" href="/accounts/mitgliederexcel.xlsx"><i class="fa-solid fa-file-excel fa-fw"></i> Liste als Excel</a></li>
        <!-- Rohdaten Admin -->
        {% if user.is_staff %}
        <li><a class="dropdown-item" href="/admin/"><i class="fa-solid fa-database fa-fw"></i> Rohdaten</a></li>
        {% endif %}
    </ul>
</li>
{% endif %}
{% endfor %}


{% endblock %}
