{% extends "base_mitglieder.html" %}
{% load static %}


{% block branding %}
Willkommen{% if user.is_authenticated %}, {{user.first_name}}  {{user.last_name}}{% endif %}!
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% if msg %}
<div class="alert alert-{{msgclass}}">
{{ msg }}
</div>
<p>
{% endif %}

<p>
Ihnen stehen folgende Funktionen zur Mitgliederverwaltung zur Verfügung:
<p>

{% for g in  user.groups.all %}
{% if g.name == "Vorstand" %}
<div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
  <div class="col d-flex align-items-start">
    <div
      class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
      <i class="bi fa-solid fa-user-plus fa-fw fa-lg" width="1em" height="1em"></i>
    </div>
    <div>
      <a href="/accounts/add/"> Mitglied hinzufügen</a>
    </div>
  </div>
  <div class="col d-flex align-items-start">
    <div
      class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
      <i class="bi fa-solid fa-address-book fa-fw fa-lg" width="1em" height="1em"></i>
    </div>
    <div>
      <a href="/accounts/list/"> Mitgliederliste</a>
    </div>
  </div>
  <div class="col d-flex align-items-start">
    <div
      class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
      <i class="bi fa-solid fa-address-card fa-fw fa-lg" width="1em" height="1em"></i>
    </div>
    <div>
      <a href="/accounts/filteredList/"> Mitgliederliste filtern</a>
    </div>
  </div>
  <div class="col d-flex align-items-start">
    <div
      class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
      <i class="bi fa-solid fa-file-excel fa-lg fa-fw" width="1em" height="1em"></i>
    </div>
    <div>
      <a href="/accounts/mitgliederexcel.xlsx"> Mitglieder als Excel, mit unterschiedlichen Filtern </a>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}

{% endif %}
{% endblock %}
