{% extends "bootstrap/bootstrap_base.html" %}
{% load static %}


{% block branding %}
{% if user.is_authenticated %}Willkommen, {{user.first_name}} {{user.last_name}}!{% endif %}
{% endblock %}


{% block content %}

{% if user.is_authenticated %}


    <div class="row row-cols-1 row-cols-lg-2 g-4">
        <div class="col">        
            <div class="card h-100">
                <div class="row">
                    <div class="col-sm-4 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-person-digging fa-fw fa-6x"></i>
                    </div>
                    <div class="col-sm-8">    
                        <div class="card-body">
                            <h5 class="card-title">Arbeitsplan</h5>
                            <p class="card-text">Für Aufgaben melden, zugeteilte Aufgaben ansehen, Leistungen eingeben, ...</p>
                            <a href="/arbeitsplan/" class="btn btn-primary">Zum Arbeitsplan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for g in  user.groups.all %}
        {% if g.name == "Boote" %}
        
        <div class="col">        
            <div class="card h-100">
                <div class="row">
                    <div class="col-sm-4 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-sailboat fa-fw fa-6x"></i>
                    </div>
                    <div class="col-sm-8">    
                        <div class="card-body">
                            <h5 class="card-title">Boote und Kran</h5>
                            <p class="card-text">Vereinsboote und Kran reservieren und nutzen, Schaden melden, ...</p>
                            <a href="/boote/" class="btn btn-primary">Zu Boote und Kran</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% endif %}
        {% endfor %}


        {% for g in  user.groups.all %}
        {% if g.name == "Vorstand" %}
            <div class="col">        
                <div class="card h-100">
                    <div class="row">
                        <div class="col-sm-4 d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-users fa-fw fa-6x"></i>
                        </div>
                        <div class="col-sm-8">    
                            <div class="card-body">
                                <h5 class="card-title">Mitgliederverwaltung</h5>
                                <p class="card-text">Mitglieder verwalten, neu anlegen, ....</p>
                                <a href="/accounts/" class="btn btn-primary">Zur Mitgliederverwaltung</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>
{% else %}

<div class="container">
    <div class="row text-center mb-4">
        <div class ="col-md-12">
            <img class="img-responsive" src="{% static "svpb/head_startseite_01.jpg"%}">
        </div>
    </div>
</div>
<div class="row text-center">
    <p>Diese Web-Anwendung dient der Organisation des Vereinslebens (Arbeitsdienst, Boots- und Kranreservierung, Mitgliederverwaltung).
    </p>

    {% if OFFLINE %}
    <p>
        <b><big>
            Die Web-Anwendung ist wegen Wartungsarbeiten kurzfristig außer Betrieb. Anmelden ist derzeit nicht mögich. Bitte versuche es später erneut!
        </big></b>
    </p>
    {% elif JAHRESENDE %}
    <p>
        <b><big>
            Wir bereiten das neue Jahr vor, daher ist die Anmeldung derzeit nur für Vorstandsmitglieder möglich. Bitte versuche es in einigen Tagen erneut.
        </big></b>
    </p>
    {% else %}
    <p>
        Bist du ein Mitglied, so melde dich bitte an.
        Bist du kein Mitglied, schau gerne auf unserem öffentlichen Auftritt <a href="https://svpb.de">svpb.de</a> vorbei.
    </p>
    <p>
        <a href="/login/?next=/home/"
           class="btn btn-primary btn-lg" role="button">
            Anmelden</a>
    </p>
    {% endif %}
</div>

{% endif %}

{% endblock %}