{% extends "base_boote.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block branding %}
Regatta-, Ausbildungs- und Reparaturtermine
{% endblock %}

{% block content %}

{% if error_list %}
<div class='alert alert-block alert-danger'>
	<ul>
	{% for error in error_list %}
		<li>{{ error }}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}


{% if edit %}
<div class="overlay">
<div class="modalbox">
<h2>Neuer Termin</h2>
	
	{% crispy form %}
	
<a href="/boote/booking/priority/" class="btn btn-secondary">Abbrechen</a> 
</div>
</div>
{% endif %}

<p>
Als Vorstandsmitglied bist du berechtigt, einen Regatta-, Ausbildungs- oder Reparaturtermin einzutragen.<br>  
</p>

<p>
<a href="/boote/booking/priority/new/" class="btn btn-primary">Neuer Termin</a>
</p>


<div class="my-4">
<h3>Ausbildung</h3>
<div class="my-2">
<img src="{% static 'boote/ausbildung.png' %}" style='width: 200px'>
</div>
<TABLE  id='boatslist'>
<thead>
        <tr>        
            <th style=''>Datum</th>
            <th style='width: 15%'>Von</th>
            <th style='width: 15%'>Bis</th>
            <th style='width: 15%'>Boot</th>
            <th style='width: 15%'>Erstellt von</th>
            <th style='width: 15%'>Aktion</th>
         </tr>
 </thead>
{% for b in bookings_aus %}
	<tr>		
		<td>{{ b.date }}</td>
		<td>{{ b.time_from }}</td>
		<td>{{ b.time_to }}</td>
		<td>{{ b.boat.name }} ({{ b.boat.type.name }})</td>
		<td><span class="tinyfont">{{ b.user.first_name }} {{ b.user.last_name }}</span></td>
		<td>
		{% if b.user == user %}
			<a href="/boote/booking_remove/{{ b.id }}" class="btn btn-primary" onclick='return window.confirm("Möchtest du deine Reservierung für {{ b.boat.name }} {{ b.date }}, von {{ b.time_from }} bis {{ b.time_to }}) stornieren?");'>Ja, stornieren</a>
		{% endif %}
		</td>
	</tr>
{% endfor %}
</TABLE>
</div>

<div class="my-4">
<h3>Regatta</h3>
<div class="my-2">
<img src="{% static 'boote/regatta.png' %}" style='width: 200px'>
</div>
<TABLE  id='boatslist'>
<thead>
        <tr>            
      		<th style=''>Datum</th>
            <th style='width: 15%'>Von</th>
            <th style='width: 15%'>Bis</th>
            <th style='width: 15%'>Boot</th>
            <th style='width: 15%'>Erstellt von</th>
            <th style='width: 15%'>Aktion</th>
         </tr>
 </thead>
{% for b in bookings_reg %}
	<tr>
		<td>{{ b.date }}</td>
		<td>{{ b.time_from }}</td>
		<td>{{ b.time_to }}</td>
		<td>{{ b.boat.name }} ({{ b.boat.type.name }})</td>
		<td><span class="tinyfont">{{ b.user.first_name }} {{ b.user.last_name }}</span></td>
		<td>
		{% if b.user == user %}
			<a href="/boote/booking_remove/{{ b.id }}" class="btn btn-primary" onclick='return window.confirm("Möchtest du deine Reservierung für {{ b.boat.name }} {{ b.date }}, von {{ b.time_from }} bis {{ b.time_to }}) stornieren?");'> Ja, stornieren</a>
		{% endif %}
		</td>
	</tr>
{% endfor %}
</TABLE>
</div>

<div class="my-4">
<h3>Reparatur</h3>
<div class="my-2">
<i class="fa-solid fa-screwdriver-wrench fa-3x"></i>
</div>
<TABLE  id='boatslist'>
<thead>
        <tr>            
      		<th style=''>Datum</th>
            <th style='width: 15%'>Von</th>
            <th style='width: 15%'>Bis</th>
            <th style='width: 15%'>Boot</th>
            <th style='width: 15%'>Erstellt von</th>
            <th style='width: 15%'>Aktion</th>
         </tr>
 </thead>
{% for b in bookings_rep %}
	<tr>
		<td>{{ b.date }}</td>
		<td>{{ b.time_from }}</td>
		<td>{{ b.time_to }}</td>
		<td>{{ b.boat.name }} ({{ b.boat.type.name }})</td>
		<td><span class="tinyfont">{{ b.user.first_name }} {{ b.user.last_name }}</span></td>
		<td>
		{% if b.user == user %}
			<a href="/boote/booking_remove/{{ b.id }}" class="btn btn-primary" onclick='return window.confirm("Möchtest du deine Reservierung für {{ b.boat.name }} {{ b.date }}, von {{ b.time_from }} bis {{ b.time_to }}) stornieren?");'> Ja, stornieren</a>
		{% endif %}
		</td>
	</tr>
{% endfor %}
</TABLE>
</div>

{% endblock %}
