{% extends "bootstrap/bootstrap_base.html" %}

{% block branding %}
Über diese Webanwendung 
{% endblock %}


{% block content%}
Diese Webanwendung ermöglicht den Mitgliedern des Segler-Verein Paderborn e.V. die Organisation des Arbeitsdienstes und das Reservieren von Vereinsbooten sowie dem Bootskran.
Die Entwicklung wurde 2014 als Open-Source-Projekt gestartet und seitdem wird die Webanwendung weiterhin von Vereinsmitgliedern aktualisiert und weiterentwickelt.

<h3>Impressum</h3>
Diese Webanwendung ist Teil des Internetauftritts des Segler-Verein Paderborn e.V. (<a href="https://svpb.de">svpb.de</a>), die rechtlichen Angaben finden sich unter <a href="https://svpb.de/impressum/">svpb.de/impressum</a>.

<h3>Für die technisch Interessierten</h3>
Den Quellcode findest du auf <a href="https://github.com/svpbde/svpb">Github</a>.
Wenn du Lust hast, uns bei der Entwicklung zu unterstützen, melde dich gern bei uns oder stelle direkt einen Pull Request.

<h3>Eingesetzte Open-Source-Projekte</h3>
Diese Anwendung wäre nicht möglich ohne die folgenden Werkzeuge der Open-Source-Community:
<ul>
  <li> <a href="https://www.python.org/"> Python </a> </li>
  <li> <a href="https://www.djangoproject.com/"> Django </a> (mit zahlreichen Erweiterungen, insbesondere tables2, post_office, crispy_forms, impersonate) </li>
  <li> <a href="https://getbootstrap.com/"> Bootstrap </a> (mit zahlreichen Erweiterungen) </li>
  <li> <a href="https://fontawesome.com">Font Awesome</a> </li>
</ul>

<p>


{% endblock %}
