{% extends "arbeitsplan_tff.html" %}
{% load static %}



{% block prefilter %}

<h3>Zusammenfassung deiner Zuteilungen </h3>

Du bist bisher für insgesamt  {{ zuteilungSummary }} Stunden eingeteilt.
<p>
{% if zuteilungSummary < arbeitslast %}
<div class="alert alert-warning">
Damit kannst du noch nicht die vorgesehenen {{ arbeitslast }} Stunden Arbeitsleistung pro Jahr erbringen.
Du solltest den Vorstand kontaktieren und dich um weitere Zuteilungen bemühen.
</div>
{% else %}
Wenn du alle diese Arbeitsdienste entsprechend erbringst, kannst du damit dein vorgesehenes Pensum pro Jahr erfüllen. Bitte kontrolliere aber auch, ob deine tatsächlich gemeldeten Arbeitszeiten richtig verbucht werden.
{% endif %}


<ul>
 
</ul>



{% endblock %} 


