{% extends "base_arbeitsplan.html" %}
{% load static %}

{% block extrastyle %}
<style>
:target {
    animation: blinking-bg 0.5s 2 step-end;
    background-color: var(--bs-dark-bg-subtle);
}
@keyframes blinking-bg {
50% {
    background-color: var(--bs-list-group-bg);
}
}
</style>
{% endblock %}

{% block branding %}
Willkommen{% if user.is_authenticated %}, {{user.first_name}} {{user.last_name}}{% endif %}!
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% if msg %}
<div class="alert alert-{{msgclass}}">
	{{ msg }}
</div>
<p>
{% endif %}

<p>
Dir stehen folgende Funktionen zur Verfügung:
<p>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
	<div class="col d-flex align-items-start">
		<div
			class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			<i class="bi fa-solid fa-list-ul fa-fw fa-lg" width="1em" height="1em"></i>
		</div>
		<div>
			<a href="/arbeitsplan/aufgaben/">Aufgaben anzeigen</a>
			<p>Eine Übersicht aller Aufgaben anzeigen.</p>
		</div>
	</div>
	<div class="col d-flex align-items-start">
		<div
			class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			<i class="bi fa-solid fa-hand-point-up fa-fw fa-lg" width="1em" height="1em"></i>
		</div>
		<div>
			<a href="/arbeitsplan/meldung/">Melden</a>
			<p>Für Aufgaben melden oder Meldungen bearbeiten.</p>
		</div>
	</div>
	<div class="col d-flex align-items-start">
		<div
			class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			<i class="bi fa-solid fa-hand-point-right fa-fw fa-lg" width="1em" height="1em"></i>
		</div>
		<div>
			<a href="/arbeitsplan/zuteilungAnzeige/me/">Zuteilungen anzeigen</a>
			<p>Eine Übersicht meiner Zuteilungen anzeigen.</p>
		</div>
	</div>
	<div class="col d-flex align-items-start">
		<div
			class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			<i class="bi fa-solid fa-pen-to-square fa-fw fa-lg" width="1em" height="1em"></i>
		</div>
		<div>
			<a href="/arbeitsplan/leistung/">Leistung eintragen (eigene)</a>
			<p>Geleisteten Arbeitsdienst für zugeteilte Aufgabe eintragen.</p>
		</div>
	</div>
	<div class="col d-flex align-items-start">
		<div
			class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			<i class="bi fa-solid fa-rectangle-xmark fa-fw fa-lg" width="1em" height="1em"></i>
		</div>
		<div>
			<a href="/arbeitsplan/meldung/?gemeldet=GA&filter=Filter+anwenden">Meldung löschen</a>
			<p>Zum Löschen die Präferenz auf Nein setzen.</p>
		</div>
	</div>
	<div class="col d-flex align-items-start">
		<div
			class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			<i class="bi fa-solid fa-magnifying-glass fa-fw fa-lg" width="1em" height="1em"></i>
		</div>
		<div>
			<a href="/arbeitsplan/meldung/liste">Meldungsübersicht</a>
			<p>Eine Übersicht meiner Meldungen anzeigen.</p>
		</div>
	</div>
	<div class="col d-flex align-items-start">
		<div
			class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			<i class="bi fa-solid fa-eye fa-fw fa-lg" width="1em" height="1em"></i>
		</div>
		<div>
			<a href="/arbeitsplan/leistungListe/">Leistungsübersicht</a>
			<p> Eine Übersicht meiner geleistenen Arbeiten anzeigen.</p>
		</div>
	</div>
	<div class="col d-flex align-items-start">
		<div
			class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			<i class="bi fa-solid fa-file-pen fa-fw fa-lg" width="1em" height="1em"></i>
		</div>
		<div>
			<a href="/arbeitsplan/leistungAlle/">Leistung eintragen (beliebige)</a>
			<p>Geleisteten Arbeitsdienst für beliebige Aufgabe eintragen.</p>
		</div>
	</div>
</div>


{% for g in user.groups.all %}
{% if g.name == "Vorstand" %}

<hr>
<h2> Vorstandsfunktionen </h2>
<p>
<div class="row row-cols-1 row-cols-lg-2 g-4">
	<div class="col">
		<div class="card">
			<div class="card-header text-bg-secondary text-center">
				<i class="fa-solid fa-list-ul fa-lg fa-fw"></i>&nbsp;Aufgaben und Aufgabengruppen
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><a href="/arbeitsplan/aufgabeErzeugen/">Neue Aufgabe anlegen</a> </li>
				<li class="list-group-item"><a href="/arbeitsplan/aufgabenVorstand/">Aufgaben anzeigen und editieren</a> </li>
				<li class="list-group-item"><a href="/arbeitsplan/aufgabengruppeErzeugen/">Neue Aufgabengruppe anlegen</a> </li>
				<li class="list-group-item"><a href="/arbeitsplan/aufgabengruppen/">Aufgabengruppen anzeigen und editieren</a> </li>
			</ul>
		</div>
	</div>

<div class="col">
		<div class="card">
			<div class="card-header text-bg-secondary text-center">
				<i class="fa-regular fa-hand-point-up fa-lg fa-fw"></i>&nbsp;Meldung
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><a href="/arbeitsplan/meldungVorstand/">Existierende Meldungen anzeigen</a> </li>
			</ul>
		</div>
	</div>

	<div class="col">
		<div class="card">
			<div class="card-header text-bg-secondary text-center">
				<i class="fa-regular fa-hand-point-right fa-lg fa-fw"></i>&nbsp;Zuteilung
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"> <a href="/arbeitsplan/zuteilungAnzeige/all/">Existierende Zuteilungen anzeigen</a> </li>
				<li class="list-group-item"> Aufgaben und Zuteilungsübersicht
					<ul>
						<li> <a href="/arbeitsplan/zuteilungUebersicht/">Alle Aufgaben</a> </li>
						<li> Vorgefiltert: <a	href="/arbeitsplan/zuteilungUebersicht/?zuteilungen_ausreichend=UN&filter=Filter+anwenden">Nur Aufgaben mit fehlenden Zuteilungen</a> </li>
					</ul>
				</li>
				<li class="list-group-item"> Zuteilungen vornehmen in großer Tabelle: <a href="/arbeitsplan/manuelleZuteilung/">Alle Aufgaben, alle Mitglieder.</a> </li>
				<li class="list-group-item" id="zuteilung-vorgefiltert"> Zuteilungen vornehmen nach Aufgabengruppe (vorgefiltert: nur Aufgaben mit fehlenden Zuteilungen, nur Mitglieder mit freier Kapazität) 
          <ul>
						<li><a href="/arbeitsplan/manuelleZuteilung/?zuteilungen_ausreichend=UN&mitglied_ausgelastet=FR&filter=Filter+anwenden"> Alle Aufgabengruppen</a> </li>
						{% for ag in aufgabengruppen %}
						<li> <a	href="/arbeitsplan/manuelleZuteilung/?aufgabengruppe={{ ag.id }}&zuteilungen_ausreichend=UN&mitglied_ausgelastet=FRAM&filter=Filter+anwenden">{{ ag.name }}</a> </li>
						{% endfor %}
					</ul>
				</li>
			</ul>
		</div>
	</div>

  <div class="col">        
    <div class="card">
      <div class="card-header text-bg-secondary text-center">
        <i class="fa-solid fa-check fa-lg fa-fw"></i>&nbsp;Leistung
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <a href="/arbeitsplan/leistungenBearbeiten/z=all/"> Vorliegende Leistungsmeldungen für <b> alle </b> Zuständigen bearbeiten</a> </li>
        <li class="list-group-item"> <a href="/arbeitsplan/leistungenBearbeiten/z=me/"> Vorliegende Leistungsmeldungen für <b> mich </b> als Zuständigen bearbeiten</a> </li>
        <li class="list-group-item"> <a href="/arbeitsplan/salden/"> Saldenübersicht der geleisteten Arbeitsstunden anzeigen</a> </li>
        <li class="list-group-item"> <a href="/accounts/mitgliederexcel.xlsx"> <i class="fa-solid fa-file-excel fa-lg fa-fw"></i> Mitglieder-Exceldatei, mit unterschiedlichen Filtern </a> </li>
      </ul>
    </div>
  </div>

  <div class="col">        
    <div class="card">
      <div class="card-header text-bg-secondary text-center">
        <i class="fa-solid fa-envelope fa-lg fa-fw"></i>&nbsp;Benachrichtigungen
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <a href="/arbeitsplan/benachrichtigen/zuteilung/"> Zuteilungen</a>: Mitglieder über erfolgte oder geänderte Zuteilungen informieren </li>
        <li class="list-group-item"> <a href="/arbeitsplan/benachrichtigen/meldungsAufforderung/"> Meldungsaufforderung</a>: Mitglieder mit mangelnden Zuteilungen zu weiteren Meldungen aufforden </li>           
        <li class="list-group-item"> <a href="/arbeitsplan/benachrichtigen/templateListe/"> Liste der E-Mail-Vorlagen</a>: Überblick der existierenden Vorlagen für E-Mails, mit Kommentaren. NICHT die tatsächlichen E-Mails! </li>
      </ul>
    </div>
  </div>
</div>

{% endif %}
{% endfor %}

{% else %}
<a href="login/?next=/home/"> Bitte loggen Sie sich ein!</a>
{% endif %}

{% endblock %}